.abc {
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
  padding-left: 200px;
}
.subabc {
  background-color: lightgrey;
  margin: 10px;
  text-align: center;
}
.abcd {
  margin: 10px;
  text-align: center;
}
